# 2017 MBA Stats

## Alexander Patrick Surjono<br>Data Science

### Importing libraries and dataset

In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv('Seasons_Stats.csv',header=0)

In [3]:
stats

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

## Data Preprocessing

Here, we're only going to use data from year 2017

In [4]:
stats_2017 = stats[stats['Year'] == 2017]

In [5]:
stats_2017

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24096,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
24097,24097,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
24098,24098,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
24099,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
24100,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

### Remove Duplicates
There are some players who make team transfers in the NBA transfer market so that there is duplication of player data. Therefore, we will remove duplicated players and keep the most recent data

In [6]:
stats_2017 = stats_2017.drop_duplicates('Player', keep='last')
stats_2017

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24096,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
24099,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
24100,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
24101,24101,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
24102,24102,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

### Deleting null values

There are also some null values in the data which will be eliminated

In [7]:
stats_2017.isnull().sum()

Unnamed: 0      0
Year            0
Player          0
Pos             0
Age             0
Tm              0
G               0
GS              0
MP              0
PER             0
TS%             2
3PAr            2
FTr             2
ORB%            0
DRB%            0
TRB%            0
AST%            0
STL%            0
BLK%            0
TOV%            2
USG%            0
blanl         486
OWS             0
DWS             0
WS              0
WS/48           0
blank2        486
OBPM            0
DBPM            0
BPM             0
VORP            0
FG              0
FGA             0
FG%             2
3P              0
3PA             0
3P%            39
2P              0
2PA             0
2P%             4
eFG%            2
FT              0
FTA             0
FT%            18
ORB             0
DRB             0
TRB             0
AST             0
STL             0
BLK             0
TOV             0
PF              0
PTS             0
dtype: int64

From the description above, 2 columns (blanl and blank2) are  having no value at all which makes them redundant to be on the dataset. Hence they will be removed

In [8]:
stats_2017 = stats_2017.drop(['blanl', 'blank2'], axis=1)
stats_2017

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24096,24096,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
24099,24099,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
24100,24100,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
24101,24101,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
24102,24102,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

## 1. The youngest and oldest player in the NBA in 2017 for each team 
Data of the youngest/oldest player for each team is obtained by grouping the data by team attribute, and using transform to get the minimum/maximum data of each team

### Youngest

In [9]:
# find result of each team by group by function
youngest = stats_2017[stats_2017.groupby('Tm')['Age'].transform(min) == stats_2017['Age']]
youngest[['Tm', 'Player', 'Age']].reset_index()

    index   Tm                   Player   Age
0   24124  MEM             Wade Baldwin  20.0
1   24141  ATL          DeAndre' Bembry  22.0
2   24142  PHO            Dragan Bender  19.0
3   24144  DAL               Ben Bentil  21.0
4   24170  BOS             Jaylen Brown  20.0
5   24176  TOR            Bruno Caboclo  21.0
6   24193  PHO          Marquese Chriss  19.0
7   24219  MEM            Deyonta Davis  20.0
8   24227  NOP            Cheick Diallo  20.0
9   24241  DET           Henry Ellenson  20.0
10  24252  UTA               Dante Exum  21.0
11  24256  CLE               Kay Felder  21.0
12  24359  LAL           Brandon Ingram  19.0
13  24377  DET          Stanley Johnson  20.0
14  24383  PHO            Derrick Jones  19.0
15  24388  MIN               Tyus Jones  20.0
16  24425  GSW             Kevon Looney  20.0
17  24431  PHI  Timothe Luwawu-Cabarrot  21.0
18  24432  UTA               Trey Lyles  21.0
19  24435  MIL               Thon Maker  19.0
20  24447  WAS         Chris McCullough  21.0
21  24480  SAS          Dejounte Murray  20.0
22  24481  DEN             Jamal Murray  19.0
23  24509  PHI            Jahlil Okafor  21.0
24  24513  HOU           Chinanu Onuaku  20.0
25  24514  WAS              Kelly Oubre  21.0
26  24516  SAC     Georgios Papagiannis  19.0
27  24537  TOR             Jakob Poeltl  21.0
28  24539  CHI             Bobby Portis  21.0
29  24540  NYK       Kristaps Porzingis  21.0
30  24571  OKC         Domantas Sabonis  20.0
31  24601  LAC            Diamond Stone  19.0
32  24630  IND             Myles Turner  20.0
33  24640  POR              Noah Vonleh  21.0
34  24647  ATL    Taurean Waller-Prince  22.0
35  24656  BRK         Isaiah Whitehead  21.0
36  24676  MIA          Justise Winslow  20.0
37  24678  CHO           Christian Wood  21.0
38  24688  ORL        Stephen Zimmerman  20.0
39  24690  LAL              Ivica Zubac  19.0

### Oldest

In [10]:
oldest = stats_2017[stats_2017.groupby('Tm')['Age'].transform(max) == stats_2017['Age']]
oldest[['Tm', 'Player', 'Age']].reset_index()

    index   Tm            Player   Age
0   24101  SAC     Arron Afflalo  31.0
1   24108  CLE    Chris Andersen  38.0
2   24116  NYK   Carmelo Anthony  32.0
3   24125  PHO   Leandro Barbosa  34.0
4   24130  GSW       Matt Barnes  36.0
5   24165  IND      Aaron Brooks  32.0
6   24184  MEM      Vince Carter  40.0
7   24191  PHO    Tyson Chandler  34.0
8   24200  OKC     Nick Collison  36.0
9   24237  ATL     Mike Dunleavy  36.0
10  24284  SAS     Manu Ginobili  39.0
11  24291  WAS     Marcin Gortat  32.0
12  24299  BOS      Gerald Green  31.0
13  24317  MIA     Udonis Haslem  36.0
14  24333  HOU      Nene Hilario  34.0
15  24361  NOP      Jarrett Jack  33.0
16  24366  IND      Al Jefferson  32.0
17  24376  UTA       Joe Johnson  35.0
18  24430  MIN        John Lucas  34.0
19  24464  DEN       Mike Miller  36.0
20  24499  DAL     Dirk Nowitzki  38.0
21  24529  LAC       Paul Pierce  39.0
22  24557  CHO     Brian Roberts  31.0
23  24576  BRK        Luis Scola  36.0
24  24594  PHI    Tiago Splitter  32.0
25  24611  MIL       Jason Terry  39.0
26  24621  SAC  Anthony Tolliver  31.0
27  24628  TOR       P.J. Tucker  31.0
28  24629  POR       Evan Turner  28.0
29  24631  DET        Beno Udrih  34.0
30  24642  NYK     Sasha Vujacic  32.0
31  24643  CHI       Dwyane Wade  35.0
32  24649  ORL       C.J. Watson  32.0
33  24653  GSW        David West  36.0
34  24679  LAL       Metta World  37.0

## 2. Player that has the most minutes played (MP) in each position 

Data for player with most minutes played in each position will be gathered by grouping the dataset by position column and using transform function to get the maximum minutes from MP column

In [11]:
max_minute = stats_2017[stats_2017.groupby('Pos')['MP'].transform(max) == stats_2017['MP']]
max_minute[['Pos', 'Player', 'MP']].reset_index()

   index Pos              Player      MP
0  24127  PF     Harrison Barnes  2803.0
1  24306  PG        James Harden  2947.0
2  24443  SG       C.J. McCollum  2796.0
3  24625   C  Karl-Anthony Towns  3030.0
4  24658  SF      Andrew Wiggins  3048.0

## 3. Team that has the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)

### Creating Seperate Table

In [12]:
highest_avg = stats_2017[['Tm', 'TRB%', 'AST%', 'STL%', 'BLK%']]

Data will be gathered by getting average total of each team for each attribute

In [13]:
avg_team = highest_avg.groupby('Tm').mean().reset_index()
avg_team

     Tm       TRB%       AST%      STL%      BLK%
0   ATL   9.627778  14.083333  1.438889  1.522222
1   BOS  10.360000  14.573333  1.366667  1.493333
2   BRK   9.894444  13.616667  1.483333  1.444444
3   CHI   9.343750  13.037500  1.543750  1.068750
4   CHO   9.617647  13.888235  1.300000  1.247059
5   CLE   9.668421  11.073684  1.194737  2.568421
6   DAL  10.852632  13.563158  1.536842  1.663158
7   DEN  10.829412  15.723529  1.747059  1.882353
8   DET  10.326667  13.200000  1.260000  1.173333
9   GSW  11.475000  13.943750  1.712500  2.675000
10  HOU   9.520000  12.493333  1.573333  1.506667
11  IND  10.156250  13.425000  1.437500  1.525000
12  LAC  10.586667  12.033333  1.993333  2.053333
13  LAL  10.287500  12.656250  1.843750  1.525000
14  MEM   9.750000  13.081250  1.612500  1.831250
15  MIA  10.057143  12.728571  1.485714  1.600000
16  MIL  10.841176  12.641176  1.888235  2.741176
17  MIN   9.680000  12.273333  2.413333  1.533333
18  NOP   8.970588  13.058824  1.582353  1.505882
19  NYK  10.880000  12.326667  1.493333  1.860000
20  OKC  10.053333  11.973333  1.366667  1.886667
21  ORL   9.894444  12.644444  1.238889  1.183333
22  PHI  10.818750  14.750000  1.325000  1.743750
23  PHO   9.841176  11.029412  1.400000  1.458824
24  POR  10.357143  12.778571  1.478571  1.707143
25  SAC   8.850000  13.912500  1.543750  1.337500
26  SAS   9.687500  14.900000  1.512500  1.906250
27  TOR  10.862500  10.700000  1.881250  2.025000
28  UTA  10.386667  12.673333  1.540000  1.726667
29  WAS  12.735294  11.811765  1.794118  1.100000

### The maximum value for each attribute will be obtained by getting the entity having the maximum value of the attribute

### Rebound (TRB%)

In [14]:
mean_trb = avg_team[['Tm', 'TRB%']]
mean_trb_max = mean_trb[mean_trb['TRB%'] == mean_trb['TRB%'].max()]
mean_trb_max

     Tm       TRB%
29  WAS  12.735294

### Assist (AST%)

In [15]:
mean_ast = avg_team[['Tm', 'AST%']]
mean_ast_max = mean_ast[mean_ast['AST%'] == mean_ast['AST%'].max()]
mean_ast_max

    Tm       AST%
7  DEN  15.723529

### Steal (STL%)

In [16]:
mean_stl = avg_team[['Tm', 'STL%']]
mean_stl_max = mean_stl[mean_stl['STL%'] == mean_stl['STL%'].max()]
mean_stl_max

     Tm      STL%
17  MIN  2.413333

### Block (BLK%)

In [17]:
mean_blk = avg_team[['Tm', 'BLK%']]
mean_blk_max = mean_blk[mean_blk['BLK%'] == mean_blk['BLK%'].max()]
mean_blk_max

     Tm      BLK%
16  MIL  2.741176

## 4. The best player in my opinion based on his record stats

In [18]:
# filling null values with 0
stats_2017 = stats_2017.fillna(0)

There are some parameters used to determine who is the best player based on his record stats. 
Some stats per game metrics are collected and the average of all metrics will be calculated. Player with highest number of average will be nominated as the best player.
Here are some stats used as parameters:<br>
    - GS  : Game Starred <br>
    - PER : Player Efficiency Rating <br>
    - WS  : Win Shares<br>
    - FG  : Field Goals<br>
    - 3p  : 3 points field goal<br>
    - 2p  : 2 points field goal<br>
    - ORB : Offensive Rebounds<br>
    - DRB : Defensive Rebounds<br>
    - TRB : Total Rebounds<br>
    - AST : Assists<br>
    - STL : Steals<br>
    - BLK : Blocks<br>
    - PTS : Points<br>

In [19]:
# create seperate table
best_stat = stats_2017[['Player', 'Tm', 'GS', 'PER', 'WS', 'FG', '3P', '2P',
                        'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'PTS']].reset_index(drop=True)
best_stat

,Player,Tm,GS,PER,WS,FG,3P,2P,ORB,DRB,TRB,AST,STL,BLK,PTS
0,Alex Abrines,OKC,6.0,10.1,2.1,134.0,94.0,40.0,18.0,68.0,86.0,40.0,37.0,8.0,406.0
1,Quincy Acy,BRK,1.0,13.1,1.1,65.0,36.0,29.0,18.0,89.0,107.0,18.0,14.0,15.0,209.0
2,Steven Adams,OKC,80.0,16.5,6.4,374.0,0.0,374.0,282.0,333.0,615.0,86.0,88.0,78.0,905.0
3,Arron Afflalo,SAC,45.0,9.0,1.4,185.0,62.0,123.0,9.0,116.0,125.0,78.0,21.0,7.0,515.0
4,Alexis Ajinca,NOP,15.0,12.9,1.0,89.0,0.0,89.0,46.0,131.0,177.0,12.0,20.0,22.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,CHO,58.0,16.7,5.6,253.0,0.0,253.0,135.0,270.0,405.0,99.0,62.0,58.0,639.0
482,Tyler Zeller,BOS,5.0,13.0,1.0,78.0,0.0,78.0,43.0,81.0,124.0,42.0,7.0,21.0,178.0
483,Stephen Zimmerman,ORL,0.0,7.3,0.0,10.0,0.0,10.0,11.0,24.0,35.0,4.0,2.0,5.0,23.0
484,Paul Zipser,CHI,18.0,6.9,0.5,88.0,33.0,55.0,15.0,110.0,125.0,36.0,15.0,16.0,240.0
485,Ivica Zubac,LAL,11.0,17.0,1.1,126.0,0.0,126.0,41.0,118.0,159.0,30.0,14.0,33.0,284.0

In [20]:
# creating record average column
best_stat['Record_Avg'] = best_stat.mean(axis=1)

In [21]:
best_stat

,Player,Tm,GS,PER,WS,FG,3P,2P,ORB,DRB,TRB,AST,STL,BLK,PTS,Record_Avg
0,Alex Abrines,OKC,6.0,10.1,2.1,134.0,94.0,40.0,18.0,68.0,86.0,40.0,37.0,8.0,406.0,73.015385
1,Quincy Acy,BRK,1.0,13.1,1.1,65.0,36.0,29.0,18.0,89.0,107.0,18.0,14.0,15.0,209.0,47.323077
2,Steven Adams,OKC,80.0,16.5,6.4,374.0,0.0,374.0,282.0,333.0,615.0,86.0,88.0,78.0,905.0,249.069231
3,Arron Afflalo,SAC,45.0,9.0,1.4,185.0,62.0,123.0,9.0,116.0,125.0,78.0,21.0,7.0,515.0,99.723077
4,Alexis Ajinca,NOP,15.0,12.9,1.0,89.0,0.0,89.0,46.0,131.0,177.0,12.0,20.0,22.0,207.0,63.223077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,CHO,58.0,16.7,5.6,253.0,0.0,253.0,135.0,270.0,405.0,99.0,62.0,58.0,639.0,173.407692
482,Tyler Zeller,BOS,5.0,13.0,1.0,78.0,0.0,78.0,43.0,81.0,124.0,42.0,7.0,21.0,178.0,51.615385
483,Stephen Zimmerman,ORL,0.0,7.3,0.0,10.0,0.0,10.0,11.0,24.0,35.0,4.0,2.0,5.0,23.0,10.100000
484,Paul Zipser,CHI,18.0,6.9,0.5,88.0,33.0,55.0,15.0,110.0,125.0,36.0,15.0,16.0,240.0,58.338462
485,Ivica Zubac,LAL,11.0,17.0,1.1,126.0,0.0,126.0,41.0,118.0,159.0,30.0,14.0,33.0,284.0,73.853846

The max value shows the nominated best player in 2017

In [22]:
# getting maximum value
best_stat[best_stat['Record_Avg'] == best_stat['Record_Avg'].max()]

,Player,Tm,GS,PER,WS,FG,3P,2P,ORB,DRB,TRB,AST,STL,BLK,PTS,Record_Avg
457,Russell Westbrook,OKC,81.0,30.6,13.1,824.0,200.0,624.0,137.0,727.0,864.0,840.0,133.0,31.0,2558.0,543.284615

## 5. Team with the best average stat record of their players

The best team data will be obtained by the same parameter in number 4. Data will be grouped by the team and the mean of the record average will be calculated for each team.

In [23]:
best_team = best_stat.groupby('Tm').mean().reset_index()

In [24]:
best_team

,Tm,GS,PER,WS,FG,3P,2P,ORB,DRB,TRB,AST,STL,BLK,PTS,Record_Avg
0,ATL,21.611111,10.500000,2.100000,167.444444,36.888889,130.555556,46.833333,150.166667,197.000000,103.500000,36.055556,21.333333,452.888889,105.913675
1,BOS,27.333333,14.780000,3.206667,211.200000,65.666667,145.533333,49.600000,179.866667,229.466667,137.933333,41.133333,22.733333,590.466667,132.224615
2,BRK,19.777778,12.572222,1.338889,155.500000,42.722222,112.777778,38.000000,149.388889,187.388889,91.500000,31.500000,21.111111,433.388889,99.766667
3,CHI,21.937500,11.868750,2.362500,170.437500,35.312500,135.125000,54.062500,151.062500,205.125000,109.125000,37.812500,21.187500,459.312500,108.825481
4,CHO,23.294118,12.211765,2.329412,171.235294,47.529412,123.705882,37.411765,155.294118,192.705882,106.411765,32.352941,18.823529,478.235294,107.810860
5,CLE,20.473684,11.347368,2.568421,167.736842,54.210526,113.526316,39.210526,141.894737,181.105263,93.894737,25.736842,16.473684,463.052632,102.402429
6,DAL,18.263158,11.531579,1.663158,137.263158,40.631579,96.631579,28.315789,112.947368,141.263158,70.421053,28.842105,14.000000,371.526316,82.561538
7,DEN,22.411765,15.294118,2.452941,189.352941,51.058824,138.294118,51.294118,156.411765,207.705882,118.529412,31.941176,16.882353,516.647059,116.790498
8,DET,27.333333,13.053333,2.560000,217.933333,42.066667,175.866667,60.533333,189.200000,249.733333,115.400000,38.266667,20.666667,553.933333,131.272821
9,GSW,25.625000,15.125000,4.243750,220.437500,61.375000,159.062500,48.187500,179.312500,227.500000,155.312500,48.875000,34.625000,593.187500,136.374519
10,HOU,26.800000,14.000000,3.620000,210.333333,76.266667,134.066667,57.400000,174.333333,231.733333,131.400000,41.333333,22.133333,605.200000,132.970769
11,IND,25.625000,12.756250,2.543750,201.312500,44.312500,157.000000,46.375000,168.875000,215.250000,115.250000,41.812500,25.687500,538.625000,122.725000
12,LAC,27.333333,13.500000,3.453333,216.133333,56.066667,160.066667,49.333333,186.000000,235.333333,123.200000,40.866667,23.266667,594.066667,132.970769
13,LAL,24.875000,13.131250,1.262500,179.125000,37.250000,141.875000,56.937500,155.250000,212.187500,92.625000,37.687500,19.312500,463.562500,110.390865
14,MEM,24.812500,12.418750,2.681250,183.312500,47.312500,136.000000,54.937500,161.375000,216.312500,107.812500,39.375000,20.875000,507.000000,116.478846
15,MIA,28.500000,12.964286,3.164286,224.857143,57.071429,167.785714,61.214286,189.214286,250.428571,123.428571,41.214286,33.142857,593.714286,137.438462
16,MIL,23.411765,12.582353,2.429412,185.411765,42.352941,143.058824,41.176471,150.529412,191.705882,115.647059,38.529412,25.117647,495.000000,112.842534
17,MIN,27.333333,12.766667,2.633333,215.000000,40.066667,174.933333,62.533333,168.666667,231.200000,129.000000,43.600000,24.666667,575.733333,131.394872
18,NOP,21.058824,13.229412,1.847059,146.235294,30.823529,115.411765,34.470588,133.647059,168.117647,90.647059,29.882353,22.352941,390.000000,92.132579
19,NYK,26.600000,13.540000,2.106667,205.400000,42.400000,163.000000,64.066667,172.733333,236.800000,99.933333,35.066667,30.066667,537.333333,125.311282
20,OKC,26.866667,13.353333,2.780000,199.400000,40.733333,158.666667,62.400000,175.200000,237.600000,107.333333,39.666667,26.266667,540.266667,125.425641
21,ORL,19.666667,10.044444,1.188889,155.333333,34.333333,121.000000,39.277778,136.222222,175.500000,97.777778,30.333333,16.888889,413.444444,96.231624
22,PHI,22.625000,13.450000,1.356250,163.250000,43.250000,120.000000,42.187500,142.812500,185.000000,111.875000,37.437500,23.062500,445.500000,103.985096
23,PHO,23.117647,12.258824,1.564706,183.705882,33.470588,150.235294,51.941176,144.882353,196.823529,90.058824,34.588235,22.647059,495.882353,110.859729
24,POR,25.428571,13.164286,2.600000,214.857143,60.857143,154.000000,50.714286,174.071429,224.785714,108.500000,37.428571,24.642857,589.571429,129.278571
25,SAC,21.250000,13.200000,1.481250,150.000000,35.125000,114.875000,32.812500,117.500000,150.312500,87.687500,31.562500,14.625000,397.500000,89.840865
26,SAS,25.625000,13.987500,3.775000,201.375000,47.062500,154.312500,51.375000,173.562500,224.937500,122.125000,40.875000,30.375000,539.812500,125.323077
27,TOR,25.625000,14.125000,3.200000,187.500000,39.312500,148.187500,53.562500,159.375000,212.937500,92.000000,39.000000,23.750000,512.687500,116.250962
28,UTA,27.333333,14.500000,3.513333,202.200000,52.733333,149.466667,51.400000,184.933333,236.333333,110.066667,36.666667,27.333333,550.533333,126.693333
29,WAS,24.117647,12.394118,2.764706,197.529412,44.294118,153.235294,48.882353,155.705882,204.588235,114.647059,40.117647,19.647059,522.529412,118.496380

The team with the maximum value of the record average will be nominated the best team

In [25]:
best_team[best_team['Record_Avg'] == best_team['Record_Avg'].max()]

,Tm,GS,PER,WS,FG,3P,2P,ORB,DRB,TRB,AST,STL,BLK,PTS,Record_Avg
15,MIA,28.5,12.964286,3.164286,224.857143,57.071429,167.785714,61.214286,189.214286,250.428571,123.428571,41.214286,33.142857,593.714286,137.438462